* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MovieCard {
    height: calc(100vh - 80px);
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
}

.MovieCard-items {
    display: flex;
    flex-grow: 1;
    flex-basis: 180px;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgb(12, 12, 12, 0.5);
    row-gap: 5px;
    cursor: pointer;
}

.MovieCard-poster {
    height: 160px;
    width: 160px;
}

.MovieCard-sort-details {
    width: 150px;
    height: calc(300px - 150px);
}


.movielistloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.pagination{
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-around;
    border: 2px gray solid;
    background-color: azure;
    box-shadow: 0px 0px 10px rgb(12, 12, 12, 0.5);
    cursor: pointer;
    margin: 0px 20px;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    position: sticky;
    bottom: 0%;
    
}
.inc,.dec{
    font-size: 25px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px grey solid;
}



@media screen and (max-width: 417px) {
    .MovieCard-poster {
        height: 170px;
        width: 250px;
    }

    .title{
        width: 200px;
    }
}

@media screen and (max-width: 321px) {
    .MovieCard-poster {
        height: 180px;
        width: 270px;
    }

    .MovieCard-items {
        height: 300px;
    }

    .MovieCard {
        height: calc(100vh - 70px);
    }
}

@media screen and (max-width: 618px) {
    .MovieCard {
        height: calc(100vh - 80px);
    }
}