* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.SelecteMovieCard {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.selected-movie-poster-div {
    padding: 10px;
    width: 50%;
    box-shadow: 0px 0px 5px rgb(12, 12, 12, 0.5);
}

.selected-movie-details-div {
    box-shadow: 0px 0px 5px rgb(12, 12, 12, 0.5);
    padding: 10px;
    width: 50%;
}

.movie-poster {
    width: 100%;
    height: 100%;
}

.h2 {
    box-shadow: 0px 0px 10px rgb(12, 12, 12, 0.5);
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
}

.cancelbtn {
    float: right;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}

.cancelbtn:hover {
    background-color: red;
}

.D {
    margin: 10px;
}
.selectLoader{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .SelecteMovieCard {
        flex-direction:column-reverse;
        height: auto;
        width: auto;
    }

    .selected-movie-poster-div {
        width: 100%;
    }

    .selected-movie-details-div {
        width: 100%;
    }
}